*{
  --node-diameter: 3.7vh;
  --node-radius:100%;
  --line-color: #726DA8;
}

.wrapper{
  bottom: 0;
  width:100%;
  height: 100vh;
}
.node-container{
  width: 100%;
  height:90%;
  position: relative;
  background: darkgray;
  border:1px solid black;
}


.node{
  z-index: 2;
  position: absolute;
  width: var(--node-diameter);
  height: var(--node-diameter);
  border: 2px solid black;
  border-radius: var(--node-radius);
  transform: translate(-50%,50%);
  background: white;
}

.d-node{
  width: 20px;
  height:20px;
  border: 1px solid black;
  border-radius: var(--node-radius);
}

.controls-input{
  height: 30px;
  font-size: 14px;
}

.node-line{
  position: absolute;
  height: 1px;
  box-shadow: 0 0 1px 0 var(--line-color) inset, 0 0 1px 0 var(--line-color);
  background: var(--line-color);
}

#message{
  position: absolute;
  z-index: 4;
  bottom: 15px;
  left:50%;
  transform: translateX(-50%);
  background: lightyellow;
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
}

@keyframes message-animation {
  from{opacity: 0}
  to{opacity: 1}
}


@media only screen and (max-width: 768px) {
  *{
    --node-diameter: 3vw;
  }
}
